@using MegaDesk
<!--HEADING-->
@{
    Layout = "/Shared/_Layout1.cshtml";
}
@section link {
    <link rel="stylesheet" href="~/Shared/styleOne.css" />}
@section script {
    <script src="~/Scripts/scriptOne.js"></script>}

<head>
    <!---This seems to be the way to override style for a section that is governed by a main css-->
    <style type="text/css">
        .field-validation-error {
            font-weight: bold;
            color: red;
            background-color: gold;
        }

        .validation-summary-errors {
            border: 2px dashed red;
            color: red;
            background-color: gold;
            font-weight: bold;
            margin: 12px;
        }
    </style>
</head>

<!--FORM HANDLING RAZOR CODE-->
@{


    //validation here
    /*No empty fields allowed*/
    Validation.RequireField("date", "You must enter a Date");
    Validation.RequireField("name", "Name is required");
    Validation.RequireField("rushOption", "You haven't selected a Rush Option");
    Validation.RequireField("deskWidth", "You must enter Desk Width");
    Validation.RequireField("deskDepth", "Desk Depth selection is required");
    Validation.RequireField("drawerCount", "How many Desk Drawers do you want?");
    Validation.RequireField("surfaceMaterial", "Choose your Desk Finish");

    /*range checks*/





    /*check input is valid*/



    var _date = "";
    var _name = "";
    var _rushoption = "";
    var _deskWidth = "";
    var _deskDepth = "";
    var _drawerCount = "";
    var _surfaceMaterial = "";
    //var _surfaceMaterialConverted = "";



    if (IsPost && Validation.IsValid())
    {
        //fetch data from request object
        _date = Request.Form["date"];
        _name = Request.Form["name"];
        _rushoption = Request.Form["rushOption"];
        _deskWidth = Request.Form["deskWidth"];
        _deskDepth = Request.Form["deskDepth"];
        _drawerCount = Request.Form["drawerCount"];
        _surfaceMaterial = Request.Form["surfaceMaterial"];

        //instantiate a new deskquote object, fill with relevant data with constructor
        //   invoke the calculateDeskQuote method (and maybe other methods needed to
        //   fill out the DeskQuote object) the quote will be saved to the _deskQuote Variable
        //   which will be passed to the database for each quote created.

        MegaDesk.Desk theDesk = new Desk(int.Parse(_deskWidth), int.Parse(_deskDepth), int.Parse(_drawerCount), _surfaceMaterial);

        MegaDesk.DeskQuote theDeskQuote = new DeskQuote(_name, int.Parse(_rushoption), theDesk);

        //milkjugs
        var _rushOrderCost = theDeskQuote.CalculateRushOrderCost(int.Parse(_rushoption));
        var _deskQuote = String.Format("{0:C}", theDeskQuote.CalcDeskPrice());



        //add the fetched data to the database
        var db = Database.Open("Quote");
        var insertCommand = "INSERT INTO Quotes (Date,Name,RushOption,DeskWidth,DeskDepth,DrawerCount,SurfaceMaterial,DeskQuote) VALUES(@0,@1,@2,@3,@4,@5,@6,@7)";
        db.Execute(insertCommand, _date, _name, _rushoption, _deskWidth, _deskDepth, _drawerCount, _surfaceMaterial, _deskQuote);

        //ensure that after user 'adds a quote' they are redirected to the 'Display Quote' page
        //   to see quote just entered and confirm, once confirm button is pushed, displayQuote
        //   redirects to megaDeskMain
        Response.Redirect("megaDeskMain.cshtml?name = @item.Name");
    }
}
<!--Optional Additional Markup-->
<!--OPTIONAL FORMs-->
<!--BodyStarts here-->
<h1>Build a Quote</h1>
<!--Gets sum summary of all validation reports on all elements validated-->
@Html.ValidationSummary()

<form method="post">
    <fieldset>
        <legend>Quote Information</legend>
        <div>
            <label for="date">Date:</label>
            <input type="text" name="date" value="@DateTime.Now" />
            @Html.ValidationMessage("book")
        </div>
        <div>
            <label for="name">Name:</label>
            <input type="text" name="name" value="@Request.Form["name"]" />
            @Html.ValidationMessage("chapter")
        </div>
        <div>
            <label for="rushOption">RushOption:</label>
            <input type="text" name="rushOption" value="@Request.Form["rushOption"]" />
            (Enter 3, 5 or 7)
        </div>
        <div>
            <label for="deskWidth">Desk Width:</label>
            <input type="text" name="deskWidth" value="@Request.Form["deskWidth"]" />
            @Html.ValidationMessage("deskWidth")
        </div>
        <div>
            <label for="deskDepth">Desk Depth:</label>
            <input type="text" name="deskDepth" value="@Request.Form["deskDepth"]" />
            @Html.ValidationMessage("deskDepth")
        </div>
        <div>
            <label for="drawerCount">Drawer Count:</label>
            <input type="text" name="drawerCount" value="@Request.Form["drawerCount"]" />
            (Enter a number between 0-7)
        </div>
        <div>
            <label for="surfaceMaterial">SurfaceMaterial:</label>
            <input type="text" name="surfaceMaterial" value="@Request.Form["surfaceMaterial"]" />
            (Enter Oak, RoseWood, Pine, Laminate or Veneer)
        </div>
        <div>
            <input id="button" type="submit" name="buttonSubmit" value="Add Quote" />
        </div>
    </fieldset>
</form>


