<!--HEADING-->
@{
    Layout = "/Shared/_Layout1.cshtml";
}

@section link{
    <link rel="stylesheet" href="~/Shared/styleOne.css" />
}

@section script {
    <script src="~/Scripts/scriptBasic.js"></script>}

<!--FORM HANDLING RAZOR CODE-->
@{
    var date = "";
    var name = "";
    int rushOption = 0;
    int deskWidth = 0;
    int deskDepth = 0;
    int drawerCount = 0;
    var surfaceMaterial = "";
    var deskQuote = "";
    var quoteId = "";



    if (!IsPost)
    {
        if (!Request.QueryString["quoteid"].IsEmpty() && Request.QueryString["quoteid"].IsInt())
        {
            quoteId = Request.QueryString["quoteid"]; //filled from query string sent over in 'delete link'
            var db = Database.Open("Quote");
            var dbCommand = "SELECT * FROM Quotes WHERE ID = @0";
            var row = db.QuerySingle(dbCommand, quoteId);
            if (row != null)
            {
                date = row.Date;
                name = row.Name;
                rushOption = row.RushOption;
                deskWidth = row.DeskWidth;
                deskDepth = row.DeskDepth;
                drawerCount = row.DrawerCount;
                surfaceMaterial = row.SurfaceMaterial;
                deskQuote = row.DeskQuote;



            }
            else
            {
                Validation.AddFormError("Sorry, can't retrieve last quote that ID.");
            }
        }
        else
        {
            Validation.AddFormError("Sorry bad ID.");
        }
    }

     if (IsPost && !Request["buttonDelete"].IsEmpty())
     {
         quoteId = Request.Form["quoteid"];
         var db = Database.Open("Quote");
         var deleteCommand = "DELETE FROM Quotes WHERE ID = @0";
         db.Execute(deleteCommand, quoteId);
         Response.Redirect("megaDeskMain.cshtml");
     }
}

<div><h1>Delete Quote Confirmation</h1><br /></div>
<!--Optional Additional Markup-->
<!--OPTIONAL FORMs-->
<!--Form1-->
<form method="post">
    <fieldset>
        <legend>Quote Information</legend>
        <p>
            <span>Date:</span>
            <span>@date</span>
        </p>
        <p>
            <span>Name:</span>
            <span>@name</span>
        </p>
        <p>
            <span>Rush Option:</span>
            <span>@rushOption</span>
        </p>
        <p>
            <span>Desk Width:</span>
            <span>@deskWidth</span>
        </p>
        <p>
            <span>Desk Depth:</span>
            <span>@deskDepth</span>
        </p>
        <p>
            <span>Drawer Count:</span>
            <span>@drawerCount</span>
        </p>
        <p>
            <span>Surface Material:</span>
            <span>@surfaceMaterial</span>
        </p>
        <p>
            <span>Desk Quote:</span>
            <span>@deskQuote</span>
        </p>
        <input type="hidden" name="quoteid" value="@quoteId" /><!--was filled from querystring in first retrieval of page-->
        <input id="button" type="submit" name="buttonDelete" value="Delete Quote" />
        <p>Note: Once you press delete it can not be undone!</p>
    </fieldset>
</form>
<!--OPTIONAL OUTPUT-->
<!---LINKS-->