@using MegaDesk
@{
    Layout = "~/Shared/_Layout1.cshtml";
}
@section link {
    <link rel="stylesheet" href="~/Shared/styleOne.css" />}
@section script {
    <script src="~/Scripts/scriptBasic.js"></script>}

<!---Page Back-end Starts here-->
@{
    string date = "";
    string name = "";
    int rushOption = 0;
    int deskWidth = 0;
    int deskDepth = 0;
    int drawerCount = 0;
    string surfaceMaterial = "";
    decimal deskQuote = 0;

    var quoteId = "";

    if (!IsPost)
    {
        //preloading page with single quote data
        if (!Request.QueryString["quoteid"].IsEmpty() && Request.QueryString["quoteid"].IsInt())//validating that infor was sent to the page
        {
            quoteId = Request.QueryString["quoteid"];
            var db = Database.Open("Quote");
            var dbCommand = "SELECT * FROM Quotes WHERE ID = @0";
            var row = db.QuerySingle(dbCommand, quoteId);//need to check if this had a value before assigning its contents to title genre and year variables.

            if (row != null)
            {
                date = row.Date;
                name = row.Name;
                rushOption = row.RushOption;
                deskWidth = row.DeskWidth;
                deskDepth = row.DeskDepth;
                drawerCount = row.DrawerCount;
                surfaceMaterial = row.SurfaceMaterial;
                deskQuote = row.DeskQuote;
            }
            else
            {
                Validation.AddFormError("No quote was found for that ID.");
            }
        }
        else
        {
            Validation.AddFormError("No quote was selected.");
        }
    }

    //getting page to update entry(now getting variable data from the Request object not the database!)
    if (IsPost)
    {
        //validating individual input fields <input>
        Validation.RequireField("date", "You must enter a Date");
        Validation.RequireField("name", "Name is required");
        Validation.RequireField("rushOption", "You haven't selected a Rush Option");
        Validation.RequireField("deskWidth", "You must enter Desk Width");
        Validation.RequireField("deskDepth", "Desk Depth selection is required");
        Validation.RequireField("drawerCount", "How many Desk Drawers do you want?");
        Validation.RequireField("surfaceMaterial", "Choose your Desk Finish");

        /*range checks*/





        /*check input is valid*/


        //rip info from page and put into temp variables
        date = Request.Form["date"];
        name = Request.Form["name"];
        rushOption = Request.Form["rushOption"].AsInt();
        deskWidth = Request.Form["deskWidth"].AsInt();
        deskDepth = Request.Form["deskDepth"].AsInt();
        drawerCount = Request.Form["drawerCount"].AsInt();
        surfaceMaterial = Request.Form["surfaceMaterial"];
        quoteId = Request.Form["quoteid"];


        if (Validation.IsValid())
        {
            //instantiate desk object and deskquote objects and get deskquote to pass to database.

            MegaDesk.Desk theDesk = new Desk(deskWidth, deskDepth, drawerCount, surfaceMaterial);

            MegaDesk.DeskQuote theDeskQuote = new DeskQuote(name, rushOption, theDesk);

            //milkjugs
            int _rushOrderCost = theDeskQuote.CalculateRushOrderCost(rushOption);

            deskQuote = theDeskQuote.CalcDeskPrice();

            var db = Database.Open("Quote");
            var updateCommand = "UPDATE Quotes SET Date=@0, Name=@1, RushOption=@2, DeskWidth=@3, DeskDepth=@4, DrawerCount=@5, SurfaceMaterial=@6, DeskQuote=@7 WHERE Id=@8";
            db.Execute(updateCommand, date, name, rushOption, deskWidth, deskDepth, drawerCount, surfaceMaterial, deskQuote, quoteId);
            Response.Redirect("megaDeskMain.cshtml");

        }
    }
}
<head>
    <!--Head override-->
    <style>
        .validation-summary-errors {
            border: 2px dashed red;
            color: red;
            font-weight: bold;
            margin: 12px;
        }
    </style>
</head>


<!---Body Starts here-->
<h1>Edit a quote</h1>
@Html.ValidationSummary()

<!--OPTIONAL FORMs-->
<!--Form1-->
<form method="post">
    <fieldset>
        <legend>Edited Quote Information</legend>

        <p>
            <label for="date">Date:</label>
            <input type="text" name="date" value="@DateTime.Now" />
            @Html.ValidationMessage("book")
        </p>

        <p>
            <label for="name">Name:</label>
            <input type="text" name="name" value="@name" />
            @Html.ValidationMessage("chapter")
        </p>

        <p>
            <label for="rushOption">RushOption(Enter 3, 5 or 7):</label>
            <input type="text" name="rushOption" value="@rushOption" />


        </p>

        <p>
            <label for="deskWidth">Desk Width:</label>
            <input type="text" name="deskWidth" value="@deskWidth"/>
            @Html.ValidationMessage("deskWidth")
        </p>

        <p>
            <label for="deskDepth">Desk Depth:</label>
            <input type="text" name="deskDepth" value="@deskDepth" />
            @Html.ValidationMessage("deskDepth")
        </p>

        <p>
            <label for="drawerCount">Drawer Count(Enter a number between 0-7):</label>
            <input type="text" name="drawerCount" value="@drawerCount" />
        </p>

        <p>
            <label for="surfaceMaterial">SurfaceMaterial(Enter Oak, RoseWood, Pine, Laminate or Veneer):</label>
            <input style="background-color:aliceblue"; type="text" name="surfaceMaterial" value="@surfaceMaterial"/>
        </p>

        <input type="hidden" name="quoteid" value="@quoteId" />
        <p><input style="background-color:lavender;" type="submit" name="buttonSubmit" value="Submit Changes" /></p>
    </fieldset>
</form>

<!--OPTIONAL OUTPUT-->
<!---LINKS-->
<div>
    <p>
        <a id="MainPageLink" href="megaDeskMain.cshtml">Home</a>
    </p>
</div>



